.footer
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  padding: 16px 20px

.footer__text
  margin: 0
  font-size: 14px
  line-height: 1.1
  letter-spacing: -0.56px
  color: rgba(0, 0, 0, 0.32)

.footer--dark .footer__text
  color: rgba(255, 255, 255, 0.32)
